.orders {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.orders__items {
    margin-top: 10px;
}

.orders__item {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.orders__item > p {
    font-size: large;
}

.orders__item > h3 {
    text-align: right;
}